/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "best";
    src: url(/Fonts/Spin.ttf);
    /*  src: url("CustomFont.woff") format("woff"), url("CustomFont.otf") format("opentype"), url("CustomFont.svg#filename") format("svg");*/
}

body {
    font-family: best;
    background: #e2e1e0;
}

.icons1 {
    height: 50px;
    width: 50px;
}

.card-1 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
.customeNavbar {
    background-color: #782457;
}

.form-control {
    border-radius: 7px;
    -webkit-box-shadow: 0px 2px 7px 1px #A93226;
    -moz-box-shadow: 0px 2px 7px 1px #A93226;
    box-shadow: 0px 2px 7px 1px #A93226;
    width:100%;
}

html {
    position: relative;
    min-height: 100%;
}

.cardFuela {
    /*  border-radius: 30px;
    -webkit-box-shadow: 0px 2px 7px 1px #651F49;
    -moz-box-shadow: 0px 2px 7px 1px #651F49;
    box-shadow: 0px 2px 7px 1px #651F49;*/
}

.cardBody {
    border-radius: 30px;
}

h5 {
    color: #782457;
}

h4 {
    color: #782457;
}

.btn-primary {
    background-color: #A93226;

    border:none;
}
    .btn-primary:hover {
        background-color: #7B241C;
        border: none;
    }
.marginRight {
    margin:20px;
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
}
.cardCustome {
    -webkit-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
}
.card-rounded{
    border-radius:20px;
}
.btn-success {
    background-color: #E91E63;
}

.logo {
    height: 80px;
    width: 80px;
}

.logo1 {
    height: 50px;
    width: 50px;
}.logo1 {
     margin-left:5px;
    height: 30px;
    width: 30px;
}

.screenshot {
    /*height:400px;*/
    background-repeat: no-repeat;
    background-size: contain;
}

.marginct {
    margin-top: 50px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
